/**
 * Created by never on 14-1-9.
 */
body
  margin 0
  padding 0
  font-family 'Microsoft Yahei',"Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 14px
  color #444444
.main
  width 575px
  height 280px
  background #dddddd
.title
  width 540px
  height 35px
  float left
  line-height 35px
  color #ffffff
  text-indent 20px
  font-size 18px
  background #363636
.close
  width 35px
  height 35px
  float right
  text-align center
  line-height 35px
  color #dddddd
  background #363636
  cursor pointer
  &:hover
    background #363636 + 10%
.cover
  float left
  width 245px
  height 245px
  img
    width 245px
    height 245px
    -webkit-border-radius: 245px
    -moz-border-radius: 245px
    border-radius: 245px
.information
  float right
  width 330px
  height 245px
  background #cccccc